[envs.default]
dependencies = [
  "coverage[toml]>=6.2",
  "pytest",
  "pytest-cov",
  "pytest-mock",
  "tomli"
]

[envs.default.scripts]
cov = "pytest --cov-report=term-missing --cov-config=pyproject.toml --cov=hatch_containers --cov=tests"
no-cov = "cov --no-cov"

[envs.lint]
skip-install = true
dependencies = [
  "flake8>=4.0.1",
  "flake8-bugbear>=22.3.23",
  "flake8-quotes>=3.3.1",
  "black>=22.3.0",
  "isort>=5.10.1",
  "mypy>=0.942",
]
[envs.lint.scripts]
typing = "mypy hatch_conda tests --install-types --non-interactive"
style = [
  "flake8 .",
  "black --check --diff .",
  "isort --check-only --diff .",
]
fmt = [
  "isort .",
  "black .",
  "style",
]
all = [
  "style",
  "typing",
]
